@import 'globals';

$default-width: 786px;
$content-width: 578px;
$aside-width: 208px;

/*@media only screen and (max-width: 786px) {
    body {
        background-color: #fff;
    }

    #container {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}*/

@media only screen and (min-width: 35em) {
    html {
        background-color: $background-color;
    }

    #mainnav {
        li {
            a {
                padding: 5px 10px;
            }

            li a {
                padding: 0 10px;
            }
        }
    }

    #container {
        margin: 10px auto;
        width: $default-width;
        -webkit-box-shadow: 0 0 1em #000;
        -moz-box-shadow: 0 0 1em #000;
        box-shadow: 0 0 1em #000;
    }

    #main {
        display: grid;
        grid-template-columns: auto $content-width;
        grid-template-rows: 1fr auto;
        gap: 0;
    }

    #navigation {
        margin-bottom: 20px;
        grid-row: 1;
        grid-column: 1;
    }

    #content {
        grid-column: 2;
        grid-row: 1/3;
    }

    #footer-aside {
        order: inherit;
        width: $aside-width - 10px;
        box-shadow: none;
        background-color: inherit;
        padding: 0px 5px 5px 5px;
        grid-column: 1;
        grid-row: 2;
    }

    #headercontent {
        .first {
            width: $aside-width;

            .text {
                display: inherit;
            }
        }

        .second {
            width: $content-width;

            .text {
                display: inherit;
            }
        }

        #languagenav {
            position: absolute;
            right: 0px;
            float: right;
        }
    }

    #banner {
        display: block;

        .first {
            width: $aside-width;
        }

        .second {
            width: $content-width;
        }
    }

    .aside {
        width: $aside-width;
        position: relative;
        float: left;
    }

    #mustercontainer {
        display: block;
    }

    #footer {
        width: $default-width;
    }
}